<!-- ===== SIDEBAR ===== -->
<div class="sidebar" id="sidebarMenu">
  <h3 class="text-center fw-bold mb-4">⚡ Admin</h3>

  <nav class="nav flex-column">
    @for(item of menuItems;track item.id){

    <a class="nav-link" [routerLink]="item.route" [class.active]="isActive(item)">

      <i [class]="item.icon"></i>
      {{ item.label }}
    </a>
    <!-- <a class="nav-link" [class.active]="isActiveRoute(item)" [routerLink]="item.route || ''">{{item.label}}</a> -->
    <!-- <div class="col-12 col-md-6 col-lg-4">
                <div class="card p-4">
                    <h5>👤 {{item.label}}</h5>
                    <p>{{item.description}}</p>
                </div>
            </div> -->
    }
    <!-- <a class="nav-link active" href="#">Dashboard</a>
            <a class="nav-link" href="#">Users</a>
            <a class="nav-link" href="#">Reports</a>
            <a class="nav-link" href="#">Settings</a>

            <hr class="text-white">

            <a class="nav-link" href="#">Logout</a> -->
  </nav>
</div>
