<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>
  <!-- Forgot Password Card -->
  <div class="forgot-password-card" [style]="!isUpdate ? 'display:block': 'display:none'">
    <h2>Forgot Password</h2>
    <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">Enter your email address</label>
        <input type="email" name="email" ngModel placeholder="Try 'john@doe' and check" #emailWithPattern="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}" class="form-control" id="email"
          [ngClass]="{ 'is-invalid': emailForm.submitted && emailWithPattern.invalid }" required>
        <div *ngIf="emailWithPattern.touched || (emailForm.submitted && emailWithPattern.invalid)">
          <div *ngIf="emailWithPattern.errors?.['required']" class="text-danger">Email is required.</div>
          <div *ngIf="emailWithPattern.errors?.['pattern']" class="text-danger">Enter a valid email address.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Update</button>
      <div class="mt-3 text-center">
        <small><a routerLink="/login">Back to login</a></small>
      </div>
    </form>

  </div>

  <!-- Update Password Card (Visible after forgot password link or on a separate page) -->
  <div class="forgot-password-card mt-5" id="updatePasswordCard" [style]="isUpdate ? 'display:block': 'display:none'">
    <h2>Update Password</h2>
    <form #passwordForm="ngForm" (ngSubmit)="onSubmitPassword(passwordForm)">
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input [type]="typeOfInput ? 'text':'password'" name="password" #password="ngModel" placeholder="Password" class="form-control"
          id="password" [(ngModel)]="confirmPasswordModel.password" minlength="8" required
          [ngClass]="{'is-invalid':passwordForm.submitted && password.errors}">

        @if((passwordForm.submitted && password.errors) || password.dirty || password.touched){
        @if(password?.errors?.['required']){
        <div>{{'required' | formatPassowrdPipe}}</div>
        }
        @if(password?.errors?.['pattern']){
        <div>{{'pattern' | formatPassowrdPipe}}</div>
        }
        @if(password?.errors?.['minlength']){
        <div>{{'minlength' | formatPassowrdPipe}}</div>
        }
        }

      </div>
      <div class="mb-3">
        <label for="confirmpassword" class="form-label">confirm password</label>
        <input [type]="typeOfInput ? 'text':'password'" name="confirmpassword" placeholder="Confirm Password" #confirmPassword="ngModel"
          class="form-control" id="confirmPassword"
          [ngClass]="{'is-invalid': passwordForm.submitted && confirmPassword.errors}"
          [(ngModel)]="confirmPasswordModel.confirmPassword" minlength="8" required>
        @if((passwordForm.submitted && confirmPassword.errors) || confirmPassword.touched || confirmPassword.dirty){
        @if(confirmPassword?.errors?.['required']){
        <div>{{'required' | formatPassowrdPipe}}</div>
       }
        @if(confirmPassword?.errors?.['pattern']){
        <div>{{'pattern' | formatPassowrdPipe}}</div>
        }
        @if(confirmPassword?.errors?.['minlength']){
         <div>{{'minlength' | formatPassowrdPipe}}</div>
        }
        }
      </div>

      <div>
        @if (passwordMismatch && confirmPassword.touched) {
        <div>Password mismatch</div>
        }
      </div>
      <span class="" style="cursor: pointer;" (click)="togglePassword()">
            <i id="passwordIcon" [ngClass]="typeOfInput ? 'bi-eye fs-5' :'bi-eye-slash fs-5' "></i>
          </span>
      <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Update</button>
    </form>
    <!-- Success Message -->
    <div *ngIf="isUpdateMsg" class="alert alert-success mt-3">
      Password updated successfully!
    </div>
  </div>
</body>
</html>
