        /* Header (Empty) */
        header {
            height: 60px;
            background: #ffffffaa;
            backdrop-filter: blur(6px);
            margin-left: 250px;
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
        }


