 .menu-btn {
            font-size: 26px;
            cursor: pointer;
        }
/* Main Content */
        main {
            margin-left: 250px;
            padding: 20px;
            background: linear-gradient(120deg, #eef3ff, #d5ddff);
            min-height: calc(100vh - 60px);
            transition: margin-left 0.3s ease-in-out;
        }

        .card {
            border-radius: 12px;
            background: #ffffffcc;
            backdrop-filter: blur(4px);
            transition: 0.3s;
        }

        .card:hover {
            box-shadow: 0px 10px 20px rgba(0,0,0,0.12);
            transform: translateY(-4px);
        }
