        /* Footer */
        footer {
            background: linear-gradient(90deg, #182848, #4b6cb7);
            color: white;
            padding: 12px;
            text-align: center;
            margin-left: 250px;
        }
